modules = ["nodejs-20", "php-8.2", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start PHP Server"

[[workflows.workflow]]
name = "Start PHP Server"
author = 44398534
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t ."
